.page {
    display: block;
    background-color: rgb(249, 248, 243);
}

.header__link {
    display: inline-block;
    padding: 10px 18px;
    background-color: rgb(216, 149, 32);
    color: black;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.index-form {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 10px;
}

.search-area {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    padding-left: 40px;
    width: 320px;
    margin-top: 25px;
}

.sidebar .search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.pair input[type="text"] {
    width: 100%;
    padding: 13px 60px 13px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    text-align: left !important;
}

.sidebar button {
    background-color: rgb(235, 197, 63);
    width: 100%;
    border-radius: 6px;
    padding: 8px 0;
    box-sizing: border-box;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.sidebar select {
    all: revert;
    padding: 13px 0;
    width: 230%;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-window-area {
    margin: 10px 0;
}

.modal-window {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    border: 2px solid rgb(235, 197, 63);
    border-radius: 999px;
    font-size: 14px;
    gap: 8px;
}

.window-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(235, 197, 63);
    border-radius: 50%;
    color: rgb(235, 197, 63);
    text-decoration: none;
    font-size: 12px;
}

.main {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .info {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 12px;
}

.pagination a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;

}

.pagination a.arrow {
    background: transparent;
    font-size: 20px;
}

.pagination a.active {
    background: rgb(216, 149, 32);
    color: white;
}

.arrow.disabled {
    pointer-events: none;
}